// Specific CSS for your home-page
body {
    background-color: #FFFFFF;
}

.spider-diagram {
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 154px;
}

.spider-icon {
    height: 70px;
}

#home-icon {
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#clock-icon {
    position: absolute;
    top: -92%;
    left: 41%;
    height: 54px;
}
#plug-icon {
    position: absolute;
    top: -35%;
    left: 69%;
}

#washer-icon {
    position: absolute;
    top: 132%;
    left: 72%;
}

#plant-icon {
    position: absolute;
    top: 45%;
    left: 4px;
}

#door-icon {
    position: absolute;
    top: 132%;
    left: 14%;
}

#blender-icon {
    position: absolute;
    top: 48%;
    left: 87%;
}

#bathtub-icon {
    position: absolute;
    top: -60%;
    left: 7%;
}
